<div class="pdf-header">
  <div class="header-business">
    <% if user.logo.attached? %>
      <%= pdf_image_tag user.logo, class: "logo", alt: user.business_name.presence || user.name %>
    <% end %>
    <h1><%= user.business_name.presence || user.name %></h1>
    <% if user.address.present? %>
      <p class="address"><%= user.address %></p>
    <% end %>
    <p class="email"><%= user.email %></p>
  </div>

  <div class="header-document">
    <%= yield %>
  </div>

  <% if local_assigns[:client].present? && client.present? %>
    <div class="header-client">
      <h3><%= client_label %></h3>
      <p class="client-name"><%= client.name %></p>
      <% if client.company.present? %>
        <p><%= client.company %></p>
      <% end %>
      <p><%= client.email %></p>
    </div>
  <% else %>
    <div class="header-client"></div>
  <% end %>
</div>
